@import "variables";
@import "../components/header";
@import "../components/information";
@import "../components/slider";
@import "../components/footer";

body {
  margin: 0;
  padding: 0;
  font-family: $main-page-font;
}

.visible {
  display: flex;
}
