section.page-information
    .page-information-wrapper
        .page-information__image-container
            img(src="images/muller-foto.png" alt="Dr. Muller")
        .page-information__desc
            span Biografie
            p Prof. Dr. Jochem Müller wurde 1964 in Oberrodach / Bayern geboren. Das Geburtsjahr war nach dem
                | chinesischen Horoskop das Jahr des Drachens.Der Drache ist in China eines der stärksten Glückssymbole
                | überhaupt.Menschen, die im Zeichen des Drachen geboren sind, sind gesund, energiegeladen und
                | führungsstark.
            p Er studierte von 1982 bis 1986 Betriebswirtschaftslehre an der Fachhochschule Coburg.
                | Studienschwerpunkte: Organisation und Datenverarbeitung (Prof. Dr. Winkler) und Rechnungswesen
                | (Prof. Dr. Kalweit)
            p Hochbegabtenförderung der Bayerischen Staatsregierung und Stipendiat der Hanns-Seidel-Stiftung.