footer
    .footer-wrapper
        .foo-nav
            a(href="javascript: void(0)") Datenschutz
            a(href="javascript: void(0)") Impressum
        .contacts
            .contacts-info
                .material-icons smartphone
                span 0 9 8 1 / 48 77 231
            .contacts-info
                .material-icons mail_outline
                span Jochem.mueller@hs-ansbach.de
            .contacts-info
                .material-icons home
                span FH Ansbach Residenzstr. 8 91522 Ansbach
