header
    .header-wrapper
        .header-navbar
            span.main-title Prof. Dr. Jochem Müller
            .icon-container
                .material-icons menu
        nav.page-nav
            a(href="javascript: void(0)") Aktuelles
            a(href="javascript: void(0)") Projekte
            a(href="javascript: void(0)") Studierende
            a(href="javascript: void(0)") Unternehmen
            a(href="javascript: void(0)") Zur Person
            a(href="javascript: void(0)") Abschlussarbeiten
            a(href="javascript: void(0)") Kontakt