section.page-information
    .page-information-wrapper
        .page-information__desc
            span Preise
            p.line-interval 11/2008 Verleihung "Zertifikat Dozent für Weiterbildung an Hochschulen"
            p.line-interval 2010 Gründung des MBA-Studienganges "Kreatives Marketing Management"
            p.line-interval 2010 Leitung des ESF-Forschungsprojektes TINA
            p.line-interval 2011 Leitung des Transferzentrums für Innovation und Nachhaltigkeit (TINA)

        .page-information__image-container
            img(src="images/muller-foto-2.png" alt="Dr. Muller")
