section.slider
    .slider-wrapper
        .slider__image-container.showing
            img(src="images/slider-image-1.jpg" alt="")
        .slider__image-container
            img(src="images/slider-image-2.jpg" alt="")
        .slider__image-container
            img(src="images/slider-image-3.jpg" alt="")
        .slider__image-container
            img(src="images/slider-image-4.jpg" alt="")
        .slider__image-container
            img(src="images/slider-image-5.jpg" alt="")
        .slider__nav-button.prev
            .material-icons chevron_left
        .slider__nav-button.next
            .material-icons chevron_right